Source: il2ds-daemon
Section: admin
Priority: optional
Maintainer: Alexander Oblovatniy <oblovatniy@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: https://github.com/IL2HorusTeam/il2ds-daemon
Vcs-browser: https://github.com/IL2HorusTeam/il2ds-daemon.git

Package: il2ds-daemon
Version: 1.0-1
Architecture: all
Depends: ${misc:Depends}, python, python-wine-deamonizer (>=1), wget (>=1), wine (>=1.4) | wine1.7
Suggests: wine1.7
Maintainer: Alexander Oblovatniy <oblovatniy@gmail.com>
Description: IL-2 Dedicated Server daemon
 Convert your IL-2 FB Dedicated Server into Unix daemon. You can install DS
 either.
